th, tr{
border: 1px solid black;
background-color: burlywood;
border-collapse: collapse;
}
th {
    text-align: right;
}
table {
    border: 1px solid black;
background-color: burlywood;
border-collapse: collapse;
    background-image: url(images/car.jpeg/);
}
body{
    background-image: url(images/car.jpeg/);
}
*{
    box-sizing: border-box;
    background-color: coral;
}
body{
    font-family: 'Times New Roman', Times, serif;
}
header{
    background-color: darkcyan;
}